<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CELEQ.Properties.Settings.CELEQConnectionString" connectionString="Data Source=SERVER03;Initial Catalog=CELEQ;Persist Security Info=True;User ID=Admin;Password=Adminsql$celeq"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>