<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CELEQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CELEQ.Properties.Settings.CELEQConnectionString" connectionString="Data Source=SERVER03;Initial Catalog=CELEQ;Persist Security Info=True;User ID=Admin;Password=Adminsql$celeq"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<applicationSettings>
        <CELEQ.Properties.Settings>
            <setting name="CELEQ_banco_wsIndicadoresEconomicos" serializeAs="String">
                <value>http://indicadoreseconomicos.bccr.fi.cr/indicadoreseconomicos/WebServices/wsIndicadoresEconomicos.asmx</value>
            </setting>
        </CELEQ.Properties.Settings>
    </applicationSettings>
</configuration>